{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="form-center">
  <form action="/" method="post">
    <div class="mb-4">
      <label for="wholesaler" class="form-label form-lg-label">Choose the Wholesaler</label>
      <select class="form-control form-lg-control" name="wholesaler" id="wholesaler">
        <option value="29037">29037</option>
        <option value="29038">29038</option>
        <option value="29039">29039</option>
      </select>
    </div>
    <input class="btn btn-success" type="submit" value="Get Recommendations">
  </form>
</div>
<div class="adduser-link">
  <a href="#" class="">
    <button class="btn btn-primary">Add new wholesaler</button>
  </a>
</div>
{% endblock %}
