{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="form-center">
  <form action="/recommendations" method="post">
    <div class="mb-4">
      <label for="wholesaler" class="form-label form-lg-label">Choose the Wholesaler</label>
      <select class="form-control form-lg-control" name="wholesaler" id="wholesaler">
        {% for wholesaler in wholesalers %}
          <option value="{{ wholesaler }}">{{ wholesaler }}</option>
        {% endfor %}
      </select>
    </div>
    <input class="btn btn-success" type="submit" value="Get Recommendations">
  </form>
</div>
<div class="adduser-link">
  <a href="/add_new_user" class="adduser-href">
    <button class="btn btn-primary">Add new wholesaler</button>
  </a>
</div>

<div class="adduser-link">
  <a href="/add_new_user" class="adduser-href">
    <button class="btn btn-primary">Reset app to original state</button>
  </a>
</div>
{% endblock %}
